<template>
    <div>

      <button type="button" class="btn btn-primary mx-auto" v-if="isHidden" v-on:click="isHidden = false">Get Nearest Location</button>
    
        <div class="row justify-content-center" v-if="!isHidden">
                <div class="card">

                    <div class="card-header">                    
                        <button type="button" class="close" aria-label="Close" v-on:click="isHidden = true">
                        <span aria-hidden="true">&times;</span>
                        </button>

                        <form ref="anyName" id="signup-form">
                        <div class="form-group">
                            <label for="postcode">Postcode</label>
                            <input type="postode" name="postode" class="form-control" id="postode" placeholder="Enter UK postcode" v-model="form.postcode">

                        </div>


                        <button type="submit" class="btn btn-primary" @click.prevent="submitForm">Submit</button>
                    </form>
                    </div>

            </div>
        </div>

        </div>
</template>

<script>
export default {
      props: {
    restaurants: {
      required: true,
      type: Array
    }
  },
  data() {
    return {
      isHidden : true,
      results: [],
      form: {
        postcode: "",
      },
      errors: [],
      displayClosestRestaurant: false,
      longitude:"",
      latitude:""
    };
  },
  methods: {
    getUsers(){
      axios
      .get("api/users")
      .then(response => {
        console.log(response.data);
        this.results = response.data;
      })
      .catch(function(error) {
        console.log(error);
      });
  },
    submitForm() {
      axios
        .get("api/get-nearest-location/"+ this.form.postcode)
        .then(res => {
        //  this.longitude = res.data.result.longitude;
        //  this.latitude = res.data.result.latitude;
         console.log('were here');
        //   this.resetForm();
        //   this.getUsers();
        })
        .catch(error => {
          this.errors = error.response.data.errors;
          console.log(this.errors);
        });
    },
    
    resetForm() {
      (this.form = {
        postcode: "",
      }), (this.errors = []);
    }
  },
  mounted() {

  }


};
</script>
