<template>
    <div>
      <button type="button" class="btn btn-primary mx-auto" v-if="hidden" v-on:click="hidden = false">Set new location</button>
    
        <div class="row justify-content-center " v-if="!hidden">
                <div class="card">

                    <div class="card-header">                    
                        <button type="button" class="close" aria-label="Close" v-on:click="hidden = true">
                        <span aria-hidden="true">&times;</span>
                        </button>

                        <form ref="anyName" id="signup-form">
                  
                        <div class="form-group">
                            <label for="postcode">Postcode</label>
                            <input type="string" name="postode" class="form-control" id="postode" placeholder="postcode" v-model="form.postcode">

                        </div>
                        <div class="form-group">
                            <label for="open_Monday">Monday opening time</label>
                            <input type="string" name="open_Monday" class="form-control" id="openMonday" placeholder="monday opening time" v-model="form.open_Monday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Monday">Monday closing time</label>
                            <input type="string" name="closed_Monday" class="form-control" id="closed_Monday" placeholder="monday closing time" v-model="form.closed_Monday">

                        </div>
                          <div class="form-group">
                            <label for="open_Tuesday">tuesday opening time</label>
                            <input type="string" name="open_Tuesday" class="form-control" id="openTuesday" placeholder="tuesday opening time" v-model="form.open_Tuesday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Tuesday">tuesday closing time</label>
                            <input type="string" name="closed_Tuesday" class="form-control" id="closed_Tuesday" placeholder="tuesday closing time" v-model="form.closed_Tuesday">
                        </div>
                        <div class="form-group">
                            <label for="open_Wednesday">Wednesday opening time</label>
                            <input type="string" name="open_Wednesday" class="form-control" id="openWednesday" placeholder="wednesday opening time" v-model="form.open_Wednesday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Wednesday">Wednesday closing time</label>
                            <input type="string" name="closed_Wednesday" class="form-control" id="closed_Wednesday" placeholder="wednesday closing time" v-model="form.closed_Wednesday">

                        </div>
                          <div class="form-group">
                            <label for="open_Thursday">Thursday opening time</label>
                            <input type="string" name="open_Thursday" class="form-control" id="open_Thursday" placeholder="Thursday opening time" v-model="form.open_Thursday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Thursday">Thursday closing time</label>
                            <input type="string" name="closed_Thursday" class="form-control" id="closed_Thursday" placeholder="Thursday closing time" v-model="form.closed_Thursday">

                        </div>
                          <div class="form-group">
                            <label for="open_Friday">Friday opening time</label>
                            <input type="string" name="open_Friday" class="form-control" id="openFriday" placeholder="Friday opening time" v-model="form.open_Friday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Friday">Friday closing time</label>
                            <input type="string" name="closed_Friday" class="form-control" id="closed_Friday" placeholder="Friday closing time" v-model="form.closed_Friday">

                        </div>
                          <div class="form-group">
                            <label for="open_Saturday">Saturday opening time</label>
                            <input type="string" name="open_Saturday" class="form-control" id="openSaturday" placeholder="Saturday opening time" v-model="form.open_Saturday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Saturday">Saturday closing time</label>
                            <input type="string" name="closed_Saturday" class="form-control" id="closed_Saturday" placeholder="Saturday closing time" v-model="form.closed_Saturday">

                        </div>
                          <div class="form-group">
                            <label for="open_Sunday">Sunday opening time</label>
                            <input type="string" name="open_Sunday" class="form-control" id="openSunday" placeholder="Sunday opening time" v-model="form.open_Sunday">

                        </div>
                         <div class="form-group">
                            <label for="closed_Sunday">Sunday closing time</label>
                            <input type="string" name="closed_Sunday" class="form-control" id="closed_Sunday" placeholder="Sunday closing time" v-model="form.closed_Sunday">

                        </div>


                        <button type="submit" class="btn btn-primary" @click.prevent="addNewRestaurant">Submit</button>
                    </form>
                    </div>
            </div>
        </div>
        </div>
</template>

<script>
export default {
  data() {
    return {
      hidden: true,
      results: [],
      form: {
        postcode: "",
        open_Monday: "",
        open_Tuesday: "",
        open_Wednesday: "",
        open_Thursday: "",
        open_Friday: "",
        open_Saturday: "",
        open_Sunday: "",
        closed_Monday: "",
        closed_Tuesday: "",
        closed_Wednesday: "",
        closed_Thursday: "",
        closed_Friday: "",
        closed_Saturday: "",
        closed_Sunday: ""
      },
      errors: [],
      displayClosestRestaurant: false,
      longitude: "",
      latitude: ""
    };
  },
  methods: {

    addNewRestaurant() {
      axios
        .post("/restaurant-add", this.form)
        .then(res => {
          console.log(res.data);
        })
        .catch(error => {
          this.errors = error.response.data.errors;
          console.log(this.errors);
        });
    },

    resetForm() {
      (this.form = {
        postcode: ""
      }),
        (this.errors = []);
    }
  },
  mounted() {}
};
</script>
